
<div class="card-comment">
    <div class="title-game">
        <a href="{{ path('app_game_show', {'slug': comment.game.slug}) }}">
            {{ comment.game.name }}
        </a>
    </div>
    <p>
        {% if profile is defined %}
            {{ comment.content }}
        {% else %}
            {{ comment.content|excerpt }}
        {% endif %}
    </p>
    <div class="comment-footer">
        {% if profile is defined %}
            Rédigé le
        {% else %}
            Par <a href="{{ path('app_account_show', {'slug': comment.account.slug}) }}">{{ comment.account.nickname }}</a>, le
        {% endif %}
        {{ comment.createdAt|date('d/m/Y') }}
    </div>
</div>