{% extends 'front/base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-flex justify-content-between">
            <h1 class="mt-3 mb-4">Tous les jeux</h1>
        </div>
        <div class="d-flex justify-content-center my-3">
            {{ form_start(filterForm) }}
                <div class="input-group mb-3">
                    {{ form_widget(filterForm) }}
                    <div class="input-group-append">
                        <button class="btn btn-primary ms-2" type="submit">
                            <i class="fa-solid fa-search"></i>
                        </button>
                        <a class="btn btn-primary" href="{{ path('app_game_index') }}">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </div>
                </div>
            {{ form_end(filterForm) }}
        </div>
        <div class="navigation d-flex justify-content-center my-3">
            {{ knp_pagination_render(gamesArray) }}
        </div>
        <div class="row">
            {% for gameIteration in gamesArray %}
                <div class="col-lg-4 col-md-6">
                    {% include 'front/partials/_games.html.twig' with {
                        'game': gameIteration
                    } %}
                </div>
            {% endfor %}
        </div>
        <div class="navigation d-flex justify-content-center mt-2">
            {{ knp_pagination_render(gamesArray) }}
        </div>
    </div>

{% endblock %}
