
<div class="ps-4 pt-4 admin-menu">

    <h4>Comptes</h4>
    <ul class="list-unstyled ps-4">
        <li>
            <a  href="{{ path('app_admin_account_index') }}"
                class="{% if app.request.pathinfo == path('app_admin_account_index') %}menu-active{% endif %}"
            >
                Liste des comptes
            </a>
        </li>
    </ul>
    <hr>

    <h4>Jeux</h4>
    <ul class="list-unstyled ps-4">
        <li>
            <a href="{{ path('app_admin_game_index') }}"
               class="{% if app.request.pathinfo == path('app_admin_game_index') %}menu-active{% endif %}"
            >
                Liste des jeux
            </a>
        </li>
        <li>
            <a href="{{ path('app_admin_game_new') }}"
               class="{% if app.request.pathinfo == path('app_admin_game_new') %}menu-active{% endif %}"
            >
                Ajouter un jeu
            </a>
        </li>
    </ul>
    <hr>
    <h4>Editeurs</h4>
    <ul class="list-unstyled ps-4">
        <li>
            <a  href="{{ path('app_admin_publisher_index') }}"
                class="{% if app.request.pathinfo == path('app_admin_publisher_index') %}menu-active{% endif %}"
            >
                Liste des éditeurs
            </a>
        </li>
        <li>
            <a href="{{ path('app_admin_publisher_new') }}"
               class="{% if app.request.pathinfo == path('app_admin_publisher_new') %}menu-active{% endif %}"
            >
                Ajouter un éditeur
            </a>
        </li>
    </ul>
    <hr>
    <h4>Genres</h4>
    <ul class="list-unstyled ps-4">
        <li>
            <a href="{{ path('app_admin_genre_index') }}"
               class="{% if app.request.pathinfo == path('app_admin_genre_index') %}menu-active{% endif %}"
            >
                Liste des genres
            </a>
        </li>
        <li>
            <a href="{{ path('app_admin_genre_new') }}"
               class="{% if app.request.pathinfo == path('app_admin_genre_new') %}menu-active{% endif %}"
            >
                Ajouter un genre
            </a>
        </li>
    </ul>
    <hr>

    <h4>Pays</h4>
    <ul class="list-unstyled ps-4">
        <li>
            <a href="{{ path('app_admin_country_index') }}"
               class="{% if app.request.pathinfo == path('app_admin_country_index') %}menu-active{% endif %}"
            >
                Liste des pays
            </a>
        </li>
        <li>
            <a href="{{ path('app_admin_country_new') }}"
               class="{% if app.request.pathinfo == path('app_admin_country_new') %}menu-active{% endif %}"
            >
                Ajouter un pays
            </a>
        </li>
    </ul>
    <hr>

    <a href="{{ path('app_home') }}">
        Retour au site
    </a>

</div>
