{% extends 'back/base.html.twig' %}

{% block title %}
    Les comptes
{% endblock %}

{% block body %}

    <div class="container-fluid">
        {{ form_start(filters) }}
        <table class="table table-dark table-hover table-striped mt-3">
            <thead>
                <tr>
                    <th>
                        {{
                        knp_pagination_sortable(
                            accounts,
                            'Pays',
                            'country.nationality'
                        )|raw
                        }}
                        {{ form_widget(filters.country) }}
                    </th>
                    <th>
                        {{
                            knp_pagination_sortable(
                                accounts,
                                'Nom',
                                'account.name'
                            )|raw
                        }}
                        {{ form_widget(filters.name) }}
                    </th>
                    <th>
                        {{
                            knp_pagination_sortable(
                                accounts,
                                'Email',
                                'account.email'
                            )|raw
                        }}
                        {{ form_widget(filters.email) }}
                    </th>
                    <th>
                        {{
                            knp_pagination_sortable(
                                accounts,
                                'Pseudo',
                                'account.nickname'
                            )|raw
                        }}
                        {{ form_widget(filters.nickname) }}
                    </th>
                    <th>
                        {{
                            knp_pagination_sortable(
                                accounts,
                                'Inscrit le',
                                'account.createdAt'
                            )|raw
                        }}
                        <span class="empty-filter"></span>
{#                        {{ form_widget(filters.createdAt) }}#}
                    </th>
                    <th>
                        {{
                            knp_pagination_sortable(
                                accounts,
                                'Porte-feuille',
                                'account.wallet'
                            )|raw
                        }}
                        <span class="empty-filter"></span>
                    </th>
                    <th>
                        {{
                        knp_pagination_sortable(
                            accounts,
                            'Nombre de jeux',
                            'nbGames'
                        )|raw
                        }}
                        <span class="empty-filter"></span>
                    </th>
                    <th>
                        <div>
                            <button type="submit" class="filter-action">
                                <i class="fas fa-filter"></i>
                            </button>
                            <a class="filter-action" href="{{ path('app_admin_account_index') }}">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>
                            {% if account[0].country is not null %}
                                <img src="{{ account[0].country.urlFlag }}"
                                     alt="{{ account[0].country.name }}"
                                >
                            {% endif %}
                        </td>
                        <td>{{ account[0].name }}</td>
                        <td>{{ account[0].email }}</td>
                        <td>{{ account[0].nickname }}</td>
                        <td>{{ account[0].createdAt | date('d/m/Y') }}</td>
                        <td>{{ account[0].wallet }}€</td>
                        <td>{{ account['nbGames'] }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form_end(filters) }}

        <div class="navigation d-flex justify-content-center mt-2">
            {{ knp_pagination_render(accounts) }}
        </div>
    </div>

{% endblock %}
